[Unit]
Description=Calamp Service
Wants=network.target
After=network.target
[Service]
Type=simple
WorkingDirectory=/root/dev/redsky/calamp-listener/
ExecStart=/bin/bash bin/launcher.sh
[Install]
WantedBy=multi-user.target

