apiVersion: v1
kind: ConfigMap
metadata:
  name: calamp-listener-envar
  namespace: redsky
data:
  LOG_RAW: "1"
  TOOLCHAIN_ENABLE: "1"
  PROC_ADAPTER_ENABLE: "1"
  BB_HOST: redsky.engenx.com
  BB_PORT: "1982"
  BB_LOGINFO: "0"
  MYSQL_USER: "gps_user"
  MYSQL_PORT: "3306"
  MYSQL_DATABASE: "RedSkyApp"

# vigil
  SOCKET_HOST: https://khronos.cpht.io


---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-name: "calamp-listener"
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
    # service.beta.kubernetes.io/aws-load-balancer-healthcheck-port: "80"
    # service.beta.kubernetes.io/aws-load-balancer-healthcheck-protocol: TCP
    # service.beta.kubernetes.io/aws-load-balancer-healthcheck-healthy-threshold: 3
    # service.beta.kubernetes.io/aws-load-balancer-healthcheck-unhealthy-threshold: 3
    # service.beta.kubernetes.io/aws-load-balancer-healthcheck-timeout: 10
    # service.beta.kubernetes.io/aws-load-balancer-healthcheck-interval: 10
  name: calamp-listener
  namespace: redsky
  labels:
    app: calamp-listener
spec:
  type: "LoadBalancer"
  ports:
    - name: "calamp-listener"
      protocol: UDP
      port: 20500
      targetPort: 20500
    - name: "toolchain-port"
      protocol: UDP
      port: 20505
      targetPort: 20505
  selector:
    app: calamp-listener

